@using DynamicsReportingApp.Model
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
@model DynamicsReportingApp.Model.Authen.AuthenRequestModel

<h1>Login</h1>

<div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
    <h2 class="text-2xl font-bold mb-6 text-center">Login</h2>

    <form asp-action="Login" method="post">
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2">Username</label>
            <input asp-for="Username" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" />
            <span asp-validation-for="Username" class="text-red-500 text-sm"></span>
        </div>

        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2">Password</label>
            <input asp-for="Password"
                   type="password"
                   class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" />
            <span asp-validation-for="Password" class="text-red-500 text-sm"></span>
        </div>

        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2">Branch</label>
            <select asp-for="BranchCode" asp-items="Model.Branches" class="form-control">
                <option value="">-- Select Branch --</option>
            </select>
            <span asp-validation-for="BranchCode" class="text-red-500 text-sm"></span>

        </div>

        <div class="flex items-center justify-between">
            <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                Login
            </button>
        </div>
    </form>
</div>

@* @section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
 *@